<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    //////////////////////////////////
    <listener>
        <listener-class>reach.backend.Servlets.ObjectifyLoaderContextListener</listener-class>
    </listener>
    //////////////////////////////////
    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>reach.backend.User.MessagingEndpoint,
                reach.backend.User.ReachUserEndpoint,

                reach.backend.Feedback.FeedBackEndpoint,
                reach.backend.transactions.CompletedOperationsEndpoint,
                reach.backend.ActiveCountLog.ActiveCountLogEndpoint,

                reach.backend.Notifications.NotificationEndpoint,

                reach.backend.Music.MusicDataEndpoint,

                reach.backend.applications.UnClassifiedAppsEndpoint,
                reach.backend.applications.ClassifiedAppsEndpoint,
                reach.backend.applications.AppVisibilityEndpoint,
                reach.backend.campaign.BackLogEndpoint,
                reach.backend.imageServer.ServingUrlEndpoint
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>
    //////////////////////////////////
    <servlet>
        <servlet-name>Worker</servlet-name>
        <servlet-class>reach.backend.Servlets.Worker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Worker</servlet-name>
        <url-pattern>/worker</url-pattern>
    </servlet-mapping>
    //////////////////////////////////
    <servlet>
        <servlet-name>RefreshGCM</servlet-name>
        <servlet-class>reach.backend.Servlets.RefreshGCM</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RefreshGCM</servlet-name>
        <url-pattern>/refreshGCM</url-pattern>
    </servlet-mapping>
    //////////////////////////////////
    <servlet>
        <servlet-name>BacklogCron</servlet-name>
        <servlet-class>reach.backend.Servlets.BacklogCron</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BacklogCron</servlet-name>
        <url-pattern>/backlogCron</url-pattern>
    </servlet-mapping>
    //////////////////////////////////
    <servlet>
        <servlet-name>UserImageEndpoint</servlet-name>
        <servlet-class>reach.backend.Servlets.UserImageEndpoint</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserImageEndpoint</servlet-name>
        <url-pattern>/userImageEndpoint</url-pattern>
    </servlet-mapping>
    //////////////////////////////////
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>