<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="reach.project"
    android:installLocation="auto">

    <permission
        android:name="reach.project.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="reach.project.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.RECEIVE_SMS"
        android:required="false" />
    <uses-permission
        android:name="android.permission.VIBRATE"
        android:required="false" />

    <application
        android:name=".core.ReachApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".core.ReachActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="process_multiple" />
            </intent-filter>
        </activity>
        <activity
            android:name=".onBoarding.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".core.DialogActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_reach_notification"
            android:launchMode="singleTask"
            android:parentActivityName=".core.ReachActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".coreViews.myProfile.EditProfileActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_edit_profile"
            android:launchMode="singleTask"
            android:parentActivityName=".core.ReachActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="reach.project.core.ReachActivity" />
        </activity>
        <activity
            android:name=".ancillaryViews.SettingsActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTask"
            android:parentActivityName=".core.ReachActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="reach.project.core.ReachActivity" />
        </activity>
        <activity
            android:name=".ancillaryViews.TermsActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_terms"
            android:launchMode="singleTask"
            android:parentActivityName=".ancillaryViews.SettingsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="reach.project.ancillaryViews.SettingsActivity" />
        </activity>
        <activity
            android:name=".coreViews.invite.InviteActivity"
            android:label="@string/title_activity_invite"
            android:launchMode="singleTask"
            android:parentActivityName=".core.ReachActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="reach.project.core.ReachActivity" />
        </activity>
        <activity
            android:name=".notificationCentre.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:launchMode="singleTask"
            android:parentActivityName=".core.ReachActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="reach.project.core.ReachActivity" />
        </activity>
        <activity
            android:name=".coreViews.yourProfile.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:launchMode="singleTask"
            android:parentActivityName=".core.ReachActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="reach.project.core.ReachActivity" />
        </activity>
        <activity
            android:name=".coreViews.yourProfile.YourProfileActivity"
            android:label="@string/title_activity_your_profile"
            android:launchMode="singleTask"
            android:parentActivityName=".core.ReachActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="reach.project.core.ReachActivity" />
        </activity>

        <!--
        <activity
            android:name=".devikaChat.ChatActivity"
            android:label="@string/title_activity_chat"
            android:launchMode="singleTop"
            android:parentActivityName=".core.ReachActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="reach.project.core.ReachActivity" />
        </activity>
        -->

        <activity
            android:name=".coreViews.push.PushActivity"
            android:label="@string/title_activity_push"
            android:launchMode="singleTask"
            android:parentActivityName=".core.ReachActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="reach.project.core.ReachActivity" />
        </activity>

        <receiver
            android:name=".core.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="reach.project" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".core.InstallReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".pacemaker.HeartbeatReceiver"
            android:exported="false" />
        <receiver
            android:name=".core.UpdateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="reach.project" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".apps.InterceptAppInstall"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />

                <category android:name="reach.project" />
            </intent-filter>
        </receiver>

        <service
            android:name=".core.GcmIntentService"
            android:exported="false" />
        <!--<service-->
        <!--android:name=".utils.MetaDataScanner"-->
        <!--android:exported="false" />-->
        <service
            android:name=".onBoarding.smsRelated.SmsListener"
            android:exported="false" />

        <provider
            android:name=".coreViews.friends.ReachFriendsProvider"
            android:authorities="reach.project.coreViews.friends.ReachFriendsProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".music.MySongsProvider"
            android:authorities="reach.project.music.MySongsProvider"
            android:exported="false"
            android:multiprocess="true" />

        <!-- Things on process :remote -->

        <provider
            android:name=".music.SongProvider"
            android:authorities="reach.project.music.SongProvider"
            android:exported="false"
            android:process=":remote" />

        <service
            android:name=".reachProcess.reachService.ProcessManager"
            android:exported="false"
            android:process=":remote" />

        <!-- Use single instance as only 1 activity -->
        <activity
            android:name=".player.PlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_player"
            android:launchMode="singleInstance"
            android:parentActivityName=".core.ReachActivity"
            android:process=":remote"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="reach.project.core.ReachActivity" />
        </activity>
    </application>

</manifest>
