<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="reach.project">

    <permission
        android:name="reach.project.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="reach.project.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.VIBRATE"
        android:required="false" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:required="false" />

    <application
        android:name=".core.ReachApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".core.ReachActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="process_multiple" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.mixpanel.android.mpmetrics.InstallReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".core.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="reach.project" />
            </intent-filter>
        </receiver>

        <receiver android:name=".pacemaker.HeartbeatReceiver"/>

        <receiver android:name=".core.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="reach.project" />
            </intent-filter>
        </receiver>

        <service
            android:name=".core.GcmIntentService"
            android:exported="false" />
        <service
            android:name=".utils.MusicScanner"
            android:exported="false" />

        <provider
            android:name=".friends.ReachFriendsProvider"
            android:authorities="reach.project.friends.ReachFriendsProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".music.songs.ReachSongProvider"
            android:authorities="reach.project.music.songs.ReachSongProvider"
            android:exported="false"
            android:multiprocess="true" />
        <provider
            android:name=".music.albums.ReachAlbumProvider"
            android:authorities="reach.project.music.albums.ReachAlbumProvider"
            android:exported="false" />
        <provider
            android:name=".music.artists.ReachArtistProvider"
            android:authorities="reach.project.music.artists.ReachArtistProvider"
            android:exported="false" />
        <provider
            android:name=".music.playLists.ReachPlayListProvider"
            android:authorities="reach.project.music.playLists.ReachPlayListProvider"
            android:exported="false" />

        <activity
            android:name=".core.DialogActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_reach_notification"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />

        <receiver
            android:name=".core.ReachActivity$PlayerUpdateListener"
            android:exported="false">
            <intent-filter>
                <action android:name="reach.project.reachProcess.reachService.ProcessManager.REPLY_PRIMARY_PROGRESS" />
                <action android:name="reach.project.reachProcess.reachService.ProcessManager.REPLY_SECONDARY_PROGRESS" />
                <action android:name="reach.project.reachProcess.reachService.ProcessManager.REPLY_LATEST_MUSIC" />
                <action android:name="reach.project.reachProcess.reachService.ProcessManager.REPLY_PAUSED" />
                <action android:name="reach.project.reachProcess.reachService.ProcessManager.REPLY_UN_PAUSED" />
                <action android:name="reach.project.reachProcess.reachService.ProcessManager.REPLY_MUSIC_DEAD" />
                <action android:name="reach.project.reachProcess.reachService.ProcessManager.REPLY_ERROR" />
                <action android:name="reach.project.reachProcess.reachService.ProcessManager.REPLY_DURATION" />

                <category android:name="reach.project" />
            </intent-filter>
        </receiver>

        <!-- Things on process :remote -->

        <provider
            android:name=".uploadDownload.ReachDatabaseProvider"
            android:authorities="reach.project.uploadDownload.ReachDatabaseProvider"
            android:exported="false"
            android:process=":remote" />

        <service
            android:name=".reachProcess.reachService.ProcessManager"
            android:exported="false"
            android:process=":remote" />

        <activity
            android:name=".devikaChat.ChatActivity"
            android:label="@string/title_activity_chat"
            android:launchMode="singleTop"

            android:parentActivityName=".core.ReachActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="reach.project.core.ReachActivity" />
        </activity>
    </application>

</manifest>
